<div class="container">
    @for(shoe of shoesItems; track shoe.id){
        <div class="cart-content">
            <img [src]="shoe.imagePath" [alt]="shoe.name" width="100px">
        <div>
            <p id="shoe-name">{{shoe.name}}</p>
            <p id="shoe-size">Size: {{shoe.size}}</p>
        </div>
        <div class="counter">
            <p id="minus" (click)="decrementCount(shoe.id)">-</p>
            <p id="cnt-value">{{shoe.count}}</p>
            <p id="plus" (click)="incrementCount(shoe.id)">+</p>
        </div>
        <p id="price">{{shoe.price*shoe.count | currency: 'INR'}}</p>
    
        <p id="cross" (click)="removeShoe(shoe.id)">&Cross;</p>
        </div>
    }
    @empty {
        <p id="no-shoes">Cart is Empty</p>
    }
</div>