<div class="container">
    <div class="cart-content">
        <img src="1.png" alt="im" width="100px">
    <div>
        <p id="shoe-name">Nike Air Force 1</p>
        <p id="shoe-size">Size: 7</p>
    </div>
    <div class="counter">
        <p id="minus">-</p>
        <p id="cnt-value">1</p>
        <p id="plus">+</p>
    </div>
    <p id="price">MRP: 1299 | currency: 'INR' </p>

    <p id="cross">&Cross;</p>
    </div>
    <div class="cart-content">
        <img src="1.png" alt="im" width="100px">
    <div>
        <p id="shoe-name">Nike Air Force 1</p>
        <p id="shoe-size">Size: 7</p>
    </div>
    <div class="counter">
        <p id="minus">-</p>
        <p id="cnt-value">1</p>
        <p id="plus">+</p>
    </div>
    <p id="price">MRP: 1299 | currency: 'INR' </p>

    <p id="cross">&Cross;</p>
    </div>
    <div class="cart-content">
        <img src="1.png" alt="im" width="100px">
    <div>
        <p id="shoe-name">Nike Air Force 1</p>
        <p id="shoe-size">Size: 7</p>
    </div>
    <div class="counter">
        <p id="minus">-</p>
        <p id="cnt-value">1</p>
        <p id="plus">+</p>
    </div>
    <p id="price">MRP: 1299 | currency: 'INR' </p>

    <p id="cross">&Cross;</p>
    </div>
</div>