.control-row {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
}

mat-error{
  border: red;
  color: red;
}

.control {
  flex: 1;
}

button {
  padding: 0.6rem 1.75rem;
}
