.main-content{
    height: 85vh;
    overflow-y: scroll;

    display: grid;
    grid-template-columns: 370px 370px 370px;
    column-gap: 2.1rem;
    row-gap: 1rem;
}

.main-content::-webkit-scrollbar{
    appearance: none;
}

.shoes{
    display: flex;
    flex-direction: column;
}

.shoes:hover{
    cursor: pointer;
}

.details-section{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: space-between;
}

.left{
    width: 12rem;
}

.right{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    justify-content: center;
    align-items: start;
}

button{
    background-color: rgb(134, 238, 134);
    font-size: 1.05rem;
    border-radius: 20px;
    padding: 10px 10px;
    border: none;
    outline: none;
    font-weight: 700;
    transition: all ease-in 200ms;
}

button:hover{
    background-color: rgb(124, 124, 219);
    cursor: pointer;
}

.disable{
    cursor: not-allowed !important;
    background-color: gray;
    color: white;
}

@media(max-width: 1500px){
    .main-content{
        grid-template-columns: 330px 330px 330px;
    }
}

@media (max-width: 1400px){
    .main-content{
        grid-template-columns: 300px 300px 300px;
    }
}

@media (max-width: 1300){
    .main-content{
        grid-template-columns: 220px 220px 220px;
    }
}

@media (max-width: 1130px){
    .main-content{
        grid-template-columns: 370px 370px;
    }
}