<div class="right-part">
    <ul>
        <li>
            <a href="" appStopEvent [ngStyle]="{cursor:'not-allowed'}">Log In</a>
        </li>
        <li>
            <a href="" appStopEvent [ngStyle]="{cursor:'not-allowed'}">Sign Up</a>
        </li>
        <li>
            <a href="" appStopEvent id="like-container">
                <img [src]="heartlogo" [alt]="'heart-logo'" [width]="20" (mouseenter)="displayTotalLikeShoes()" (mouseleave)="changeClass()"/>
                <p id="likeShoes" [class.active]="flag" >{{totalLikeShoes}} Shoes</p>
            </a>
        </li>
        <li>
            <a href="" appStopEvent (click)="onDisplayCart()">🛒</a>
        </li>
    </ul>
</div>