<div class="right-part">
    <ul>
        <li>
            <a href="" appStopEvent [ngStyle]="{cursor:'not-allowed'}">Log In</a>
        </li>
        <li>
            <a href="" appStopEvent [ngStyle]="{cursor:'not-allowed'}">Sign Up</a>
        </li>
        <li>
            <a href="" appStopEvent id="like-container">
                 <app-heart-svg
                    [fillColor]="'red'"
                    (mouseenter)="displayTotalLikeShoes()" 
                    (mouseleave)="changeClass()"
                 ></app-heart-svg>
                <p id="likeShoes" [class.active]="flag" >{{totalLikeShoes}} Shoes</p>
            </a>
        </li>
        <li>
            <a [routerLink]="['/cart']" (click)="onDisplayCart()">🛒</a>
        </li>
    </ul>
</div>