<div class="wrapper">
    <div class="container">
        <img src="nike-logo.svg" alt="nike-logo">
        <p id="headingText">Enter you email to join us or sign in.</p>
        <form>
            <label>{{currentCountry}}</label>
            <select (change)="onChangeCountry($event);">
                <option value="change" hidden selected>Change</option>
                @for(country of countries; track country){
                    <option [value]="country">{{country}}</option>
                }
            </select><br>
            <input type="email" placeholder="Email*"/>
            <p id="reqText">Required</p>
        </form>
        <p id="terms">By continuing, I agree to Nike's <u>Privacy Policy</u>. and <u>Terms of User</u>.</p>
        <button>Continue</button>
    </div>
</div>