<div class="summary">
    <div class="summary-heading">
        <h3>Summary</h3>
    </div>
    <div class="summary-content">
        <p>ITEMS: 3</p>
        <p>$332.00</p>
    </div>
    <p>SHIPPING ADDRESS</p>
    <form>
        <input type="text" id="address" name="address" placeholder="Shipping Address" >
    </form>
    <p>COUPON CODE</p>
    <form>
        <input type="text" id="coupon" name="coupon" placeholder="COUPON CODE">
    </form>
    <hr>
    <div>
        <p>TOTAL PRICE</p>
        <p>$332.00</p>
    </div>
    <form>
        <button>CHECKOUT</button>
    </form>
</div>