.summary{
    height: 30.08rem;
    display: flex;
    flex-direction: column;
    /* gap: 0.5rem; */
    padding: 1rem;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    
    box-shadow: 
    rgba(14, 30, 37, 0.12) 8px 2px 4px -4px, 
    rgba(14, 30, 37, 0.32) 8px 2px 16px -4px;
}

.summary-heading{
    font-size: 1.15rem;
    border-bottom: 1px solid gray;

}

.summary-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
}

p{
    font-weight: 600;
}

input{
    padding: 7px 5px;
    font-size: 1.1rem;
    outline: none;
    border: none;
}

button{
    border-radius: 0.5rem;
    padding: 10px 5rem;
    margin-top: 0.2rem;
    background-color: lightblue;
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
    border: none;
}