<div class="side-menu">
    <form>
        <p>
            <input type="text" id="search-item" name="search-item" placeholder="Search Item">
            <!-- <button type="submit">Search</button><br> -->
        </p>
        
            <select id="sort-by" name="sort-by">
                <option value="" disabled selected hidden>Sort By</option>
                <option value="low-to-high">Price: Low to High</option>
                <option value="high-to-low">Price: High to Low</option>
            </select>

        <div id="category">
            <p>Category</p>
            <input type="checkbox" id="running" name="running">
            <label for="running">Running</label>
        
            <br>

            <input type="checkbox" id="casual" name="casual">
            <label for="casual">Casual</label>

            <br>

            <input type="checkbox" id="sneakers" name="sneakers">
            <label for="sneakers">Sneakers</label>
        </div>

        
        <div id="size">
            <p>Size</p>
            <input type="checkbox" id="seven" name="seven">
            <label for="seven">7 UK</label>
            <br>

            <input type="checkbox" id="eight" name="eight">
            <label for="eight">8 UK</label>
            <br>

            <input type="checkbox" id="nine" name="nine">
            <label for="nine">9 UK</label>
            <br>

            <input type="checkbox" id="ten" name="ten">
            <label for="ten">10 UK</label>
        </div>

    </form>
</div>