@if(renderTask){
    <app-new-task [userId]="id" (closeDialog)="cancelDialog()"></app-new-task>
}
<section id="tasks">
    <header>
        <h2>{{Username}}'s Task</h2>
        <menu>
            <button (click)="addTaskButton()">Add Task</button>
        </menu>
    </header>

    <ul>
        @for(task of selectedUserTasks; track task.id){
            <li>
                <app-task [task]="task" (completed)="onCompleteTask($event)"></app-task>
            </li>
        }
        @empty {
            <li>
                <p>No tasks</p>
            </li>
        }
    </ul>
</section>